{% extends "main_layout.html" %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Home Services&#9786;</span></h2>
        <p class="animate__animated animate__fadeInUp">An online platform designed to connect homeowners with various
          service providers who offer maintenance, repair, or improvement services for residential properties.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">We Provides Ranchi's Best Home Services </h2>
        <p class="animate__animated animate__fadeInUp">we're referring to the process of incorporating engaging,
          informative, and persuasive text throughout the website to enhance user experience, convey key messages, and
          encourage action.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">We Care About You Comfort&#xF59D;</h2>
        <p class="animate__animated animate__fadeInUp">home service provider website refers to the commitment and
          actions taken to ensure that customers feel valued, understood, and supported throughout their experience with
          your brand. It involves creating a positive, customer-centric environment that prioritizes their needs and
          fosters long-term relationships.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <h2 class="trik">Our Services</h2>
  <section class="services">

    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <img src="/static/assets/img/Ac1.jpg" alt="" class="bd-placeholder-img rounded-circle" width="170"
              height="170">
            <br><br>
            <h4 class="title"><a href="/card1">AC repairing</a></h4>
            <p class="description">Your home, your comfort—let us handle the rest!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <img src="/static/assets/img/painter.jpg" alt="" class="bd-placeholder-img rounded-circle" width="170"
              height="170">
            <br><br>
            <h4 class="title"><a href="/card2">Painter</a></h4>
            <p class="description">Expert care for every corner of your home, just a click away!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <img src="/static/assets/img/electrician.jpg" alt="" class="bd-placeholder-img rounded-circle" width="170"
              height="170">
            <br><br>
            <h4 class="title"><a href="/card3">Electrician</a></h4>
            <p class="description">Transform your space with trusted professionals at your service!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-blue">
            <img src="/static/assets/img/plumber1.jpg" alt="" class="bd-placeholder-img rounded-circle" width="170"
              height="170">
            <br><br>
            <h4 class="title"><a href="/card4">Plumber</a></h4>
            <p class="description">From repairs to renovations, we make home services hassle-free!</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <img src="/static/assets/img/Pc repair.jpg" alt="" class="bd-placeholder-img rounded-circle" width="170"
              height="170">
            <br><br>
            <h4 class="title"><a href="/card5">PC repairing</a></h4>
            <p class="description">Elevate your home experience with our dedicated professionals!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <img src="/static/assets/img/salon1.jpg" alt="" class="bd-placeholder-img rounded-circle" width="170"
              height="170">
            <br><br>
            <h4 class="title"><a href="/card6">Salon</a></h4>
            <p class="description">Relax and let us take care of your home—service you can trust!
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <img src="/static/assets/img/vehicles.jpg" alt="" class="bd-placeholder-img rounded-circle" width="170"
              height="170">
            <br><br>
            <h4 class="title"><a href="/card7">Mechanics</a></h4>
            <p class="description">Your home’s best friend—expert solutions tailored to your needs!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-blue">
            <img src="/static/assets/img/Kitchen Cleanup.jpg" alt="" class="bd-placeholder-img rounded-circle"
              width="170" height="170">
            <br><br>
            <h4 class="title"><a href="/card8">Kitchen Cleanup</a></h4>
            <p class="description">Your home’s best friend—expert solutions tailored to your needs!</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ====== Features Section ======= -->
  <section class="features">
    <div class="container">

      <div class="section-title">
        <h2>Cleaning Tips And Tricks</h2>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="/static/assets/img/About/feature-1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Reimagine your home with our comprehensive services—quality you can trust, delivered with a smile.</h3>
          <p class="fst-italic">
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="/static/assets/img/About/feature-2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Your home, our priority—seamless service solutions that bring peace of mind and impeccable results.</h3>
          <p class="fst-italic">
          </p>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="/static/assets/img/About/feature-3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Reimagine your home with our comprehensive services—quality you can trust, delivered with a smile.</h3>
          <p class="fst-italic">
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="/static/assets/img/About/feature-4.jpeg" class="img-fluid" alt="" height="516px" width="344px">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Your home, our priority—seamless service solutions that bring peace of mind and impeccable results.</h3>
          <p class="fst-italic">
          </p>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>

  </section><!-- End Features Section -->

</main><!-- End #main -->
{% endblock %}