<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../statics/style1.css">
    <title>Signup Now</title>
    <style>
        .mybg {
            background: #a3bac3;
        }


        .b-mybg {
            background: #e1e5f2;

        }
    </style>
</head>

<body class="b-mybg">
    <nav class="navbar bg-body-tertiary col-md-12">
        <div class="container">
            <form action="/login" method="post"></form>
            <a class="navbar-brand" href="#">
                <img src="../statics/img/apple-touch-icon.png" alt="Signup Form" width="30" height="24">
            </a>
        </div>
    </nav>

    <div class="container col-md-12 w-50  p-5 mt-3 rounded  mybg  ">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class=" align-items-center">Register Now!!..</h1>
        <form action="/user_signup" method="post">
            <div class="row">
                <div class="col">
                    <label for="name">Enter your name</label>
                    <input type="text" class="form-control mb-1" name="name" id="name" placeholder="name" />
                </div>
                <div class="col">
                    <label for="email">Enter your email</label>
                    <input type="email" class="form-control mb-1" name="email" id="email" placeholder="email" />

                </div>
            </div>

            <div class="rol">
                <label for="mobilet">Enter your mobile no.</label>
                <input type="text" class="form-control mb-1" name="mobile" id="mobile" placeholder="mobile" />

            </div>

            <div class="form-group">
                <label for="password">Enter password</label>
                <input type="password" class="form-control mb-1" name="password" id="password" placeholder="pasword" />
            </div>
            <div class="form-group">
                <label for="confirm_password">confirm_password</label>
                <input type="password" class="form-control mb-1" name="confirm_password" id="confirm_password">
            </div>

            <button type="submit" class="btn btn-outline-secondary mt-3">Signup Now</button>
        </form>
        <span>Already Registered?<a href="/user_login" class="btn btn-outline-secondary">Login Now..</a></span>
    </div>
</body>

</html>